@import url('https://fonts.googleapis.com/css?family=Play&display=swap');

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(53, 148, 104);
    font-family: 'Play', sans-serif;
}

#calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

#screen {
    height: 10rem;
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.432);
    margin-bottom: .4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 3rem;
    color: rgb(202, 202, 202);
    border: none;
}

#num-pad {
    display: grid;
    grid-template-columns: repeat(4, 2fr [col-start]);
    grid-gap: .4rem;
    user-select: none;
}

#num-pad > * {
    padding: 1.6rem 3rem;
    background-color: rgba(255, 255, 255, 0.671);
    border: none;
    outline: none;
    cursor: pointer;
}

#num-pad > *:active {
    background-color: rgba(53, 53, 53, 0.548);
}

#num-pad > *:hover {
    outline: solid rgb(88, 88, 88);
}

#clear {
    grid-column: 1 / 3;
}

#equals {
    grid-area: 4 / 4 / span 2;
}
